<h3><a class="btn btn-secondary" href="/student">Create New</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Campaign List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>System</th>
            <th>GM</th>
            <th>Completed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each campaigns}}
            <tr>
                <td>{{this.Name}}</td>
                <td>{{this.System}}</td>
                <td>{{this.Gm}}</td>
                <td>{{this.Completed}}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/student/{{this._id}}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/student/delete/{{this._id}}"
                        onclick="return confirm('Are you sure you want to delete this record ?');">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>